<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hangchuang.dealhouse.mapper.HousingAdvantagesMapper">
  <resultMap id="BaseResultMap" type="com.hangchuang.dealhouse.pojo.HousingAdvantages">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="housing_advantages_name" jdbcType="VARCHAR" property="housingAdvantagesName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, housing_advantages_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from housing_advantages
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from housing_advantages
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hangchuang.dealhouse.pojo.HousingAdvantages">
    insert into housing_advantages (id, housing_advantages_name)
    values (#{id,jdbcType=INTEGER}, #{housingAdvantagesName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hangchuang.dealhouse.pojo.HousingAdvantages">
    insert into housing_advantages
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="housingAdvantagesName != null">
        housing_advantages_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="housingAdvantagesName != null">
        #{housingAdvantagesName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hangchuang.dealhouse.pojo.HousingAdvantages">
    update housing_advantages
    <set>
      <if test="housingAdvantagesName != null">
        housing_advantages_name = #{housingAdvantagesName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hangchuang.dealhouse.pojo.HousingAdvantages">
    update housing_advantages
    set housing_advantages_name = #{housingAdvantagesName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>