<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hangchuang.dealhouse.mapper.RentingDetailsMapper">
  <resultMap id="BaseResultMap" type="com.hangchuang.dealhouse.pojo.RentingDetails">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="rentingdetails_name" jdbcType="VARCHAR" property="rentingdetailsName" />
    <result column="rentingdetails_rotation_picture" jdbcType="VARCHAR" property="rentingdetailsRotationPicture" />
    <result column="rentingdetails_andress" jdbcType="VARCHAR" property="rentingdetailsAndress" />
    <result column="rentingdetails_rent" jdbcType="DOUBLE" property="rentingdetailsRent" />
    <result column="rentingdetails_apartment" jdbcType="VARCHAR" property="rentingdetailsApartment" />
    <result column="rentingdetails_area" jdbcType="INTEGER" property="rentingdetailsArea" />
    <result column="rentingdetails_release_time" jdbcType="TIMESTAMP" property="rentingdetailsReleaseTime" />
    <result column="type_of_occupancy" jdbcType="VARCHAR" property="typeOfOccupancy" />
    <result column="tenancy_time" jdbcType="VARCHAR" property="tenancyTime" />
    <result column="house_type" jdbcType="VARCHAR" property="houseType" />
    <result column="rentingdetails_floor" jdbcType="INTEGER" property="rentingdetailsFloor" />
    <result column="rebtingdetails_water" jdbcType="VARCHAR" property="rebtingdetailsWater" />
    <result column="rentingdetails_electricity" jdbcType="VARCHAR" property="rentingdetailsElectricity" />
    <result column="rentingdetails_gas" jdbcType="CHAR" property="rentingdetailsGas" />
    <result column="rentingdetails_heating" jdbcType="CHAR" property="rentingdetailsHeating" />
    <result column="rentingdetails_elevator" jdbcType="CHAR" property="rentingdetailsElevator" />
    <result column="rentingdetails_indoor_id" jdbcType="VARCHAR" property="rentingdetailsIndoorId" />
    <result column="rentingdetails_housingld" jdbcType="VARCHAR" property="rentingdetailsHousingld" />
    <result column="propertiesdetails_list_houseId" jdbcType="INTEGER" property="propertiesdetailsListHouseid" />
  </resultMap>

</mapper>