<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hangchuang.dealhouse.mapper.RentingHouseMapper">
  <resultMap id="BaseResultMap" type="com.hangchuang.dealhouse.pojo.RentingHouse">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="second_house_title" jdbcType="VARCHAR" property="secondHouseTitle" />
    <result column="second_house_huxing" jdbcType="INTEGER" property="secondHouseHuxing" />
    <result column="second_house_measure" jdbcType="INTEGER" property="secondHouseMeasure" />
    <result column="second_house_orientation" jdbcType="CHAR" property="secondHouseOrientation" />
    <result column="second_house_region" jdbcType="VARCHAR" property="secondHouseRegion" />
    <result column="advantageid" jdbcType="VARCHAR" property="advantageid" />
    <result column="second_house_total_price" jdbcType="DOUBLE" property="secondHouseTotalPrice" />
    <result column="second_house_grade" jdbcType="VARCHAR" property="secondHouseGrade" />
    <result column="country_id" jdbcType="INTEGER" property="countryId" />
    <result column="floor" jdbcType="VARCHAR" property="floor" />
    <result column="totalfloor" jdbcType="VARCHAR" property="totalfloor" />
    <result column="lift" jdbcType="CHAR" property="lift" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="housingtypeid" jdbcType="INTEGER" property="housingtypeid" />
    <result column="buildingstructure" jdbcType="CHAR" property="buildingstructure" />
    <result column="rentsys" jdbcType="CHAR" property="rentsys" />
    <result column="decoration" jdbcType="CHAR" property="decoration" />
  </resultMap>

  <select id="dynamicQuery" parameterType="Map" resultType="com.hangchuang.dealhouse.pojo.RentingHouse">
    select * from renting_house
    WHERE 1=1
    <if test="advantageid != null">
      /*模糊查询房源优势*/
      and advantageid LIKE #{advantageid}
    </if>
    <if test="housingtypeid != null">
      /*房屋类型（住宅，公寓， 别墅， 商铺）*/
      and housingtypeid=#{housingtypeId}
    </if>
    <if test="countryid != null">
      /*房屋区域（金水， 惠济， 东区）*/
      and country_id=#{countryId}
    </if>
    <if test="orientation != null">
      /*朝向*/
      and second_house_orientation=#{orientation}
    </if>
    <!--<if test="priceRangeSmall != null">
      /*价格区间小*/
      and #{priceRangeSmall} < second_house_total_price
    </if>
    <if test="priceRangeBig != null">
      /*价格区间大*/
      and #{priceRangeBig} > second_house_total_price
    </if>
    <if test="areaRangeSmall != null">
      /*面积区间小*/
      and #{areaRangeSmall} < second_house_measure
    </if>-->
    <if test="areaRangeBig != null">
      /*面积区间大*/
      and #{areaRangeBig} > second_house_measure
    </if>
    <if test="bigTime != null">
      /*时间倒叙*/
      ORDER BY createtime DESC
    </if>
    <if test="smallTime != null">
      /*时间正序*/
      ORDER BY createtime ASC
    </if>
    <if test="bigArea != null">
      /*面积倒叙*/
      ORDER BY second_house_measure DESC
    </if>
    <if test="smallArea != null">
      /*面积正序*/
      ORDER BY second_house_measure ASC
    </if>
    <if test="bigPrice != null">
      /*价格倒叙*/
      ORDER BY second_house_total_price DESC
    </if>
    <if test="smallPrice != null">
      /*价格正序*/
      ORDER BY second_house_total_price ASC
    </if>
    /*分页*/
    LIMIT #{index}, #{count}
  </select>

</mapper>