<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hangchuang.dealhouse.mapper.SecondHandHouseMapper">
  <resultMap id="BaseResultMap" type="com.hangchuang.dealhouse.pojo.SecondHandHouse">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="second_house_title" jdbcType="VARCHAR" property="secondHouseTitle" />
    <result column="second_house_huxing" jdbcType="INTEGER" property="secondHouseHuxing" />
    <result column="second_house_measure" jdbcType="INTEGER" property="secondHouseMeasure" />
    <result column="second_house_orientation" jdbcType="CHAR" property="secondHouseOrientation" />
    <result column="second_house_region" jdbcType="VARCHAR" property="secondHouseRegion" />
    <result column="second_house_subway" jdbcType="VARCHAR" property="secondHouseSubway" />
    <result column="second_house_years" jdbcType="VARCHAR" property="secondHouseYears" />
    <result column="second_house_see" jdbcType="VARCHAR" property="secondHouseSee" />
    <result column="second_house_total_price" jdbcType="DOUBLE" property="secondHouseTotalPrice" />
    <result column="second_house_average_price" jdbcType="DOUBLE" property="secondHouseAveragePrice" />
    <result column="second_house_grade" jdbcType="VARCHAR" property="secondHouseGrade" />
    <result column="second_house_lift" jdbcType="CHAR" property="secondHouseLift" />
    <result column="second_house_detailsid" jdbcType="INTEGER" property="secondHouseDetailsid" />
  </resultMap>

    <select id="selectSecondHandHouseAll" resultMap="BaseResultMap">
        SELECT * FROM second_hand_house;
    </select>

  <!--<select id="selectSecondHandHouse" parameterType="java.lang.Integer" resultMap="BaseResultMap">-->
    <!--select * from second_hand_house-->
    <!--where id = #{id,jdbcType=INTEGER}-->
  <!--</select>-->

  <!--<delete id="deleteSecondHandHouse_ID" parameterType="java.lang.Integer">-->
    <!--delete from second_hand_house-->
    <!--where id = #{id,jdbcType=INTEGER}-->
  <!--</delete>-->
  <insert id="insertSecondHandHouse" parameterType="com.hangchuang.dealhouse.pojo.SecondHandHouse">
    insert into second_hand_house (id, second_house_title, second_house_huxing,
    second_house_measure, second_house_orientation,
    second_house_region, second_house_subway, second_house_years,
    second_house_see, second_house_total_price, second_house_average_price,
    second_house_grade, second_house_lift, second_house_detailsid
    )
    values (#{id,jdbcType=INTEGER}, #{secondHouseTitle,jdbcType=VARCHAR}, #{secondHouseHuxing,jdbcType=INTEGER},
    #{secondHouseMeasure,jdbcType=INTEGER}, #{secondHouseOrientation,jdbcType=CHAR},
    #{secondHouseRegion,jdbcType=VARCHAR}, #{secondHouseSubway,jdbcType=VARCHAR}, #{secondHouseYears,jdbcType=VARCHAR},
    #{secondHouseSee,jdbcType=VARCHAR}, #{secondHouseTotalPrice,jdbcType=DOUBLE}, #{secondHouseAveragePrice,jdbcType=DOUBLE},
    #{secondHouseGrade,jdbcType=VARCHAR}, #{secondHouseLift,jdbcType=CHAR}, #{secondHouseDetailsid,jdbcType=INTEGER}
    )
  </insert>

  <update id="updateSecondHandHouse_id" parameterType="com.hangchuang.dealhouse.pojo.SecondHandHouse">
    update second_hand_house
    set second_house_title = #{secondHouseTitle,jdbcType=VARCHAR},
    second_house_huxing = #{secondHouseHuxing,jdbcType=INTEGER},
    second_house_measure = #{secondHouseMeasure,jdbcType=INTEGER},
    second_house_orientation = #{secondHouseOrientation,jdbcType=CHAR},
    second_house_region = #{secondHouseRegion,jdbcType=VARCHAR},
    second_house_subway = #{secondHouseSubway,jdbcType=VARCHAR},
    second_house_years = #{secondHouseYears,jdbcType=VARCHAR},
    second_house_see = #{secondHouseSee,jdbcType=VARCHAR},
    second_house_total_price = #{secondHouseTotalPrice,jdbcType=DOUBLE},
    second_house_average_price = #{secondHouseAveragePrice,jdbcType=DOUBLE},
    second_house_grade = #{secondHouseGrade,jdbcType=VARCHAR},
    second_house_lift = #{secondHouseLift,jdbcType=CHAR},
    second_house_detailsid = #{secondHouseDetailsid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>